.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #AB2A19;
    height: 100px;
    width: 100%;
    color: white;
    margin-bottom: 80px;
  }

h1 {
    font-family: 'Open Sans', sans-serif;
    display: inline;
    margin-right: 80px;
}

.logo {
    height: 55px;
    margin: 0 25px 0 85px;
}

.header-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: #ED6B5A;
    border-radius: 5px;
    padding: 12px 10px;
    margin: 5px;
    border: none;
    font-size: 20px;
}